<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body style="background-color: lemonchiffon;">
    <h1 style="padding-left: 1.2rem;">All Trips</h1>
    <div style="display: flex ; flex-wrap: wrap;">
        {%for trip in trips%}
        <div
            style="background-color: greenyellow; padding: 0.625rem; border-radius: 1rem; font-size: 1.2rem; display: inline-block;margin: 1rem; width: 18%;">
            <span style="color: rgb(74, 72, 72);">id: </span>
            <span>{{trip.id}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">destination: </span>
            <span>{{trip.destination}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">departure_date: </span>
            <span>{{trip.departure_date}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">return_date: </span>
            <span>{{trip.return_date}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">number_of_travelers: </span>
            <span>{{trip.number_of_travelers}}</span>
        </div>
        {% endfor %}
    </div>

</body>

</html>